#scroll-container {
    font-size: xx-large;
    overflow: hidden;
  }
  
  #scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }


  header {
    background-image: linear-gradient(
        to right,
        rgba(18, 172, 142, 0.9),
        rgba(18, 172, 142, 0.7)
      ),
      url("assets/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
 
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    /* For screens larger than 768px */
@media (min-width: 768px) {
  /* styles here */
}

/* For screens between 480px and 768px */
@media (min-width: 480px) and (max-width: 768px) {
  /* styles here */
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
  /* styles here */
}